<div class="center jumbotron">
  <h1>THIS IS MY APP</h1>
  <p>
    HERE IS MY APPLICATION, GET OUT HERE!
    :)
  </p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Toto.jpg", alt: "Toto!"),
    'http://rubyonrails.org/' %>

